@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: "nastebold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/naste_bold-webfont.eot");
  src: url("../fonts/naste_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/naste_bold-webfont.woff") format("woff"), url("../fonts/naste_bold-webfont.ttf") format("truetype"), url("../fonts/naste_bold-webfont.svg#nastebold") format("svg"); }
@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg"); }
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-instagram:before {
  content: "\e600"; }

.icon-twitter:before {
  content: "\e601"; }

h1 {
  font-family: "Helvetica Neue", san-serif;
  font-size: 2.125em;
  color: white;
  font-weight: 200;
  line-height: 1.4em;
  margin-bottom: 0; }

h2 {
  font-family: "Helvetica Neue", san-serif;
  font-size: 2.125em;
  color: white;
  font-weight: 900;
  line-height: 1.4em;
  margin-bottom: 0; }

p {
  font-weight: 300;
  margin-top: 0px; }
  p.subline {
    font-size: 1.125em;
    color: white; }

body {
  background-color: #044c62;
  color: white;
  text-align: right; }
  body .wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body .wrapper:after {
      content: "";
      display: table;
      clear: both; }
    body .wrapper .content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      @media screen and (max-width: 530px) {
        body .wrapper .content {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 100%;
          padding: 30px; }
          body .wrapper .content:last-child {
            margin-right: 0; } }
      body .wrapper .content:last-child {
        margin-right: 0; }
      body .wrapper .content h1 {
        color: white;
        font-family: "nastebold";
        font-size: 4rem;
        padding-top: 6.25rem;
        letter-spacing: -0.05em;
        margin-bottom: 1.25rem;
        position: relative; }
        @media screen and (max-width: 530px) {
          body .wrapper .content h1 {
            font-size: 2.75rem;
            padding-top: 25.625rem; } }
        body .wrapper .content h1 span img {
          height: 4rem;
          width: 4rem;
          position: relative;
          top: 0.5rem;
          margin-right: 1.25rem; }
          @media screen and (max-width: 530px) {
            body .wrapper .content h1 span img {
              height: 2.75rem;
              width: 2.75rem; } }
      body .wrapper .content h2 {
        font-weight: 200; }
        @media screen and (max-width: 530px) {
          body .wrapper .content h2 {
            font-size: 1.5rem; } }
      body .wrapper .content .break:after {
        content: "";
        display: table;
        clear: both; }
      body .wrapper .content .break .line {
        height: 1px;
        width: 70%;
        display: block;
        float: right;
        margin: 0.625rem 0 1.25rem;
        background-color: white; }
      body .wrapper .content ul.copy {
        margin-top: 1.875rem;
        font-size: 1.25rem;
        font-weight: 200;
        margin-bottom: 2.5rem; }
        @media screen and (max-width: 530px) {
          body .wrapper .content ul.copy {
            margin-top: 0.625rem; } }
        body .wrapper .content ul.copy li {
          margin-bottom: 0.625rem; }
      body .wrapper .content .buttons .iOS {
        float: right;
        margin-bottom: 1.875rem; }
        body .wrapper .content .buttons .iOS a {
          background-image: url("../img/badge.svg");
          height: 73px;
          width: 220px;
          display: block; }
      body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group {
        width: 400px;
        float: right; }
        body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input {
          width: 100%;
          height: 60px;
          float: right;
          padding-right: 70px;
          text-align: right;
          color: white;
          background-color: #055f7a;
          border-color: white;
          font-weight: 100;
          font-size: 1.5rem; }
          body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input:after {
            content: "";
            display: table;
            clear: both; }
          body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input:focus + label {
            opacity: 1;
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
            transition: 1s ease; }
          body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input:focus {
            border-color: white; }
            body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input:focus::-webkit-input-placeholder {
              color: #067293;
              font-weight: 100; }
            body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input:focus::-moz-placeholder {
              color: #067293;
              font-weight: 100; }
            body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input:focus:-moz-placeholder {
              color: #067293;
              font-weight: 100; }
            body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input:focus:-ms-input-placeholder {
              color: #067293;
              font-weight: 100; }
          body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input::-webkit-input-placeholder {
            color: white;
            font-weight: 100;
            opacity: 1;
            color: #6cd8f9; }
          body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input::-moz-placeholder {
            color: white;
            font-weight: 100;
            opacity: 1;
            color: #6cd8f9; }
          body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input:-moz-placeholder {
            color: white;
            font-weight: 100;
            opacity: 1;
            color: #6cd8f9; }
          body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group .input:-ms-input-placeholder {
            color: white;
            font-weight: 100;
            opacity: 1;
            color: #6cd8f9; }
        body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group label {
          position: absolute;
          top: -26px;
          right: 0;
          opacity: 0;
          transition: 1s ease;
          font-weight: 300;
          text-align: right;
          color: #6cd8f9; }
        body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .mc-field-group div.mce_inline_error {
          height: 100px;
          position: absolute;
          top: 66px;
          right: 0;
          background-color: transparent;
          color: #ff3248; }
      body .wrapper .content #mc_embed_signup form#mc-embedded-subscribe-form.validate #mc_embed_signup_scroll .clear input#mc-embedded-subscribe.button {
        height: 60px;
        width: 60px;
        position: absolute;
        top: 10px;
        right: -5px;
        background-color: #0785ab;
        border: 1px solid white;
        border-radius: 0 2px 2px 0;
        font-size: 3rem;
        padding-bottom: 10px;
        padding-right: 20px;
        text-indent: -6px;
        font-weight: 100; }
      body .wrapper .content .footer .break .line {
        opacity: 0.1; }
      body .wrapper .content .footer ul li {
        float: right;
        margin-right: 0.625rem; }
        body .wrapper .content .footer ul li a {
          color: #c3c3c3; }
      body .wrapper .content .footer ul.social li a {
        opacity: 0.5; }
        body .wrapper .content .footer ul.social li a:hover {
          opacity: 1; }
        body .wrapper .content .footer ul.social li a.tyrale {
          opacity: 1;
          height: 1.25rem;
          width: 1.25rem;
          border-radius: 50%;
          display: block;
          background-size: 100%;
          background-image: url("../img/tyraleLG.png"); }
        body .wrapper .content .footer ul.social li a.bryan {
          opacity: 1;
          height: 1.25rem;
          width: 1.25rem;
          border-radius: 50%;
          display: block;
          background-size: 100%;
          background-image: url("../img/bryanLG.png"); }
      body .wrapper .content .footer ul.links li a {
        border-bottom: 1px solid #c3c3c3;
        opacity: 0.5; }
        body .wrapper .content .footer ul.links li a:hover {
          opacity: 1; }
    body .wrapper .phone {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      /*=== iPHONE === */ }
      @media screen and (max-width: 530px) {
        body .wrapper .phone {
          position: absolute;
          top: 0px;
          height: 456px;
          width: 100%;
          overflow: hidden;
          display: block; } }
      body .wrapper .phone:last-child {
        margin-right: 0; }
      body .wrapper .phone .iphone-body {
        position: relative;
        background: white;
        height: 38.125rem;
        width: 18.75rem;
        margin: 7.5rem auto;
        border-radius: 2.5rem;
        box-shadow: 0 6px 0px 0 #688496; }
        @media screen and (max-width: 530px) {
          body .wrapper .phone .iphone-body {
            top: -280px; } }
        body .wrapper .phone .iphone-body:before {
          content: "";
          display: block;
          position: relative;
          top: 2.25rem;
          background: #c3c3c3;
          height: 6px;
          width: 60px;
          border-radius: 6px;
          margin: 0 auto; }
        body .wrapper .phone .iphone-body:after {
          content: "";
          display: block;
          position: relative;
          top: 76px;
          background: none;
          height: 2.8125rem;
          width: 2.8125rem;
          border: 4px solid #c3c3c3;
          border-radius: 50%;
          margin: 0 auto; }
      body .wrapper .phone .camera-1 {
        position: absolute;
        background: #c3c3c3;
        height: 8px;
        width: 8px;
        border-radius: 8px;
        margin: 12px 0 0 146px; }
      body .wrapper .phone .camera-2 {
        position: absolute;
        background: #c3c3c3;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        margin: 28px 0 0 90px; }
      body .wrapper .phone .iphone-screen {
        position: relative;
        top: 70px;
        background: #0d0d0d;
        height: 474px;
        width: 272px;
        margin: 0 auto;
        border: 4px solid #c3c3c3;
        border-radius: 4px; }
