head
	title Wordplay +/- | A delightful word game.
	link(href="css/app.css" rel="stylesheet")
	link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')


	meta(name="viewport" content="width=device-width, initial-scale=1")

	script(src="//code.jquery.com/jquery-1.10.2.min.js")
	script(type='text/javascript' src='js/client.js')
	
